# CIS 组网测试 - 使用真实构建的镜像
version: '3.8'

services:
  node1:
    image: cis-runtime:latest
    container_name: cis-node1
    hostname: cis-node1
    networks:
      cis-net:
        ipv4_address: 172.30.1.11
    environment:
      - CIS_NODE_ID=node1-coordinator-001
      - CIS_NODE_NAME=node1-coordinator
      - CIS_NODE_ROLE=coordinator
      - CIS_DID=did:cis:node1:test

  node2:
    image: cis-runtime:latest
    container_name: cis-node2
    hostname: cis-node2
    networks:
      cis-net:
        ipv4_address: 172.30.1.12
    environment:
      - CIS_NODE_ID=node2-worker-a-002
      - CIS_NODE_NAME=node2-worker-a
      - CIS_NODE_ROLE=worker
      - CIS_DID=did:cis:node2:test
    depends_on: [node1]

  node3:
    image: cis-runtime:latest
    container_name: cis-node3
    hostname: cis-node3
    networks:
      cis-net:
        ipv4_address: 172.30.1.13
    environment:
      - CIS_NODE_ID=node3-worker-b-003
      - CIS_NODE_NAME=node3-worker-b
      - CIS_NODE_ROLE=worker
      - CIS_DID=did:cis:node3:test
    depends_on: [node1]

  debug:
    image: alpine:3.19
    container_name: cis-debug
    networks:
      cis-net:
        ipv4_address: 172.30.1.100
    command: sleep infinity
    profiles: [debug]

networks:
  cis-net:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 172.30.0.0/16
